<header class="header">

  <h1 class={{mf.postTitle}}>{{model.title}}</h1>

  {{partial 'blog/post-partials/published-date'}}
  {{partial 'blog/post-partials/tags'}}

</header>

<hr>

<div class={{mf.postContent}}>
  {{partial model.urlString}}
</div>

<hr>
