<header class="header">

  <h1 class={{mf.postTitle}}>{{model.title}}</h1>

  {{posts-published-date post=model}}
  {{posts-tags post=model}}

</header>

<hr>

<div class={{mf.postContent}}>
  {{component model.urlString}}
</div>

<hr>
